.header {
    align-items: center;
    background-color: #5f6794;
    display: flex;
    height: 60px;
    justify-content: center; 
    width: 100%;
    gap: 16px;
    position: relative;
} 

.link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

.icon { 
    color: #fff;
    cursor: pointer;
    height: 20px;
    position: absolute; 
    top: 20px;
    right: 40px;
    width: 20px;
}